<h1>New page</h1>

<form id="new-page" name="page">
  <div class="field">
    <label for="day"> day:</label>
    <input type="text" name="day" id="day" value="<%= day %>" >
  </div>

  <div class="field">
    <label for="subject"> subject:</label>
    <input type="text" name="subject" id="subject" value="<%= subject %>" >
  </div>

  <div class="field">
    <label for="message"> message:</label>
    <input type="text" name="message" id="message" value="<%= message %>" >
  </div>

  <div class="field">
    <label for="send_time"> send_time:</label>
    <input type="text" name="send_time" id="send_time" value="<%= send_time %>" >
  </div>

  <div class="field">
    <label for="send_zone"> send_zone:</label>
    <input type="text" name="send_zone" id="send_zone" value="<%= send_zone %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Page" />
  </div>

</form>

<a href="#/index">Back</a>