<td><%= day %></td>
<td><%= subject %></td>
<td><%= message %></td>
<td><%= send_time %></td>
<td><%= send_zone %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>