<p>
  <b>Day:</b>
  <%= day %>
</p>

<p>
  <b>Subject:</b>
  <%= subject %>
</p>

<p>
  <b>Message:</b>
  <%= message %>
</p>

<p>
  <b>Send time:</b>
  <%= send_time %>
</p>

<p>
  <b>Send zone:</b>
  <%= send_zone %>
</p>


<a href="#/index">Back</a>