<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @page.day %>
</p>

<p>
  <b>Subject:</b>
  <%= @page.subject %>
</p>

<p>
  <b>Message:</b>
  <%= @page.message %>
</p>

<p>
  <b>Send time:</b>
  <%= @page.send_time %>
</p>

<p>
  <b>Send zone:</b>
  <%= @page.send_zone %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
