<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="crankhead">
      <%= image_tag "crank_apps_logo.png", :id => "crank_apps_logo" %>
      <span id="sales_marker_logo">
        <span class="powered_by">Powered by</span>
        <span class="sales">Sales</span><span class="marker">Marker</span>
      </span>
    </div>
    <div class="cranknav">
      <div id="login">
        <%= image_tag "matts_mug.png", :class => "userpic" %>
        <span class="username">Matt Bradley</span>
        <span class="white-arrow-down"></span>
      </div>
    </div>
    <div class="main">
      <span class="leftnav">
        <div class="leftnav lefttop">
          <div class="btn-group">
            <a id="create_new" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Create New
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= image_tag "grumpy_no.jpg", :class => "grumpy_no" %></li>
            </ul>
          </div>
        </div>
        <div class="leftnav leftbottom">
          <ul>
            <li class="briefcase active"><div class="icon"></div>Campaigns</li>
            <li class="bullseye"><div class="icon"></div>Leads</li>
          </ul>
        </div>
      </span>
      <%= yield %>
    </div>
  </body>
</html>
